<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XyralityTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D63D31DD1BD6166500AB6041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63D31F61BD6166500AB6041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63D32011BD6166600AB6041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
